*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nunito', sans-serif
}
.menu-area {
    overflow: hidden;
    height: 40px;
    background-color: #000;
}
.menu-area strong{
    padding: 12px;
    margin-left: 9%;
    float: left; 
    color: rgba(252, 198, 82, 0.986);  
}
.menu-area ul{
    padding: 11px;
    margin-right: 8%;
    float: right;
}
.menu-area li{
    list-style-type: none;
    display: inline; 
}
.menu-area ul li a{
    color: #fff;
    text-decoration: none; 
    padding: 10px ;
}
.top-area{
    display: flex;
}
.home{
    width: 50%;    
}
.home .home-left{ 
    width: 60%;
    padding: 20% 0 15% 20%;
    text-align: justify;
}
.home .home-left h1{ 
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    font-weight: bold;
}
.home .home-left span{
    color: rgba(253, 180, 23, 0.986);
}
.home .home-left p{ 
    margin: 20px 0 50px 0;
    line-height: 22px;
}
.home .home-left a{ 
    background-image: linear-gradient(to right, rgb(0, 38, 255) ,rgb(0, 217, 255));
    padding: 15px 25px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}      
.home img{
    width: 80%;
    padding: 6% 0  10% 0;    
}
/* ------ about area------ */
.about-area{
    display: flex;
    background-image: url(image/7.png);
    background-size: cover;
}
.about-area .about{
    width: 50%;
    padding: 3% 3% 3% 0;
}
.about-area .about img{
    width: 70%;
    padding: 5% 0 0 25%;
    
}
.about-area .middle-right{
    width: 65%;
     padding: 10% 0 0 10%;
     line-height: 25px;  
    
}
.about-area .middle-right p{
    margin: 15% 0 25% 0;
    text-align: justify;  
    
}
.about-area .middle-right a{
    background-image: linear-gradient(to right, rgb(0, 38, 255) ,rgb(0, 217, 255));  
    border-radius: 50px;
    padding: 12px 35px;
    text-decoration: none;
    color:white;
}
/* ----- recipies area -------*/
.recipies-area{
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 50px;
}
.recipies-area p{
    color:rgba(252, 177, 15, 0.986);
    margin: 10px 0 40px 0;  
}
.recipies{
    display: flex;
    justify-content: space-around;
    margin: 0 5% 10% 5%; 
    line-height: 25px;
}
.recipies .recipies-title{
    width: 25%;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 25px -10px grey;
}
.recipies .recipies-title img{
    width: 100%;
    border-radius: 10px;
}
.recipies .recipies-title h3{
    width: 100%;
    margin: 20px 0 10px 0;
}
/* ---------footer area------------ */
.footer{
    color: rgb(110, 100, 100);
    font-weight: 700;
    background-color: black;
    text-align: center;
    height: 110px;
    padding-top: 20px;
}
.footer strong{
    color: rgba(253, 180, 23, 0.986);
}  
.footer p{
    font-weight: 300;
    font-size: small;
    color: white;
    padding-top: 20px;
}
